{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block body %}
    <div class="card">
        <h1 class="card-header">Récapitulatif de la commande</h1>
        <div class="card-body">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {

        });
    </script>
{% endblock %}
