{% extends 'admin/base.html.twig' %}

{% block title %}Modif Article{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h1 class="col">Modification d'un article</h1>
                    <div class="col-2 text-right my-auto">
                        <a href="{{ path('article_index') }}" style="font-size: 1.5em;"><i class="fas fa-arrow-circle-left"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                {{ include('admin/article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                {{ include('admin/article/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
